<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="AB">
    <classes>
      <class name="Day35Annotations.A"/>

      <class name="Day35Annotations.B"/>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="CD">
    <classes>
      <class name="Day35Annotations.C"/>
      <class name="Day35Annotations.D"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
